{% load static %}
{% url 'mov:all_movies' as all_movies %}
{% url 'mov:movies_type_view' 'movie' as movies %}
{% url 'mov:movies_type_view' 'series' as series %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mov:all_movies' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == all_movies %} active{% endif %}" aria-current="page" href="{% url 'mov:all_movies' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == movies %} active{% endif %}" href="{% url 'mov:movies_type_view' 'movie' %}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {% if request.path == series %} active{% endif %}" href="{% url 'mov:movies_type_view' 'series' %}">Series</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" hidden>Search</button>
            </form>

        </div>

    </div>
    <div>
    </div>
</nav>